canvas {
  border: 1px solid black;
  background-color: rgb(211, 216, 221);

}
body {
  background-color: #494c50;
 } 

 .btn {
  background-color: rgb(146, 148, 150);;
  color: rgb(10, 15, 1);
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;

  opacity: 0.9;
}

.btn:hover {
  opacity:1;
}


* {box-sizing: border-box}

.container {
  padding: 16px;
}

input[type=text], input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=number]:focus {
  background-color: rgb(166, 165, 165);
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.registerbtn {
  background-color: rgb(146, 148, 150);;
  color: rgb(10, 15, 1);
  padding: 20px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

p {
  background-color: #f1f1f1;
  text-align: center;
}
body{
  background-color: #404143;
 } 
 h1, h2{
text-align: center;
color: rgb(146, 148, 150);
 }

 label{
   color: rgb(146, 148, 150);
 }



 .table_dark {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  width: 640px;
  text-align: left;
  border-collapse: collapse;
  background: #252F48;
  margin: 10px;
  text-align: center;

}
.table_dark th {
  color: #EDB749;
  border-bottom: 1px solid #37B5A5;
  padding: 12px 17px;
}
.table_dark td {
  color: #CAD4D6;
  border-bottom: 1px solid #37B5A5;
  border-right:1px solid #37B5A5;
  padding: 7px 17px; 
}
.table_dark tr:last-child td {
  border-bottom: none;
}
.table_dark td:last-child {
  border-right: none;
}
.table_dark tr:hover td {
  text-decoration: underline;
}

